// Ozgaruvchilar

$header-text-color: #fcfcfc;
$white-color: #fff;
$gray-color: #505050;
$button-color: #ff753a;
$line-color: #ab0433;
$guitars-text-color: #252525;
$guitars-subtitle-color: #767676;
$guitars-border-color: #eaeaea;
$accsesuars-bg: #ececec;
$lessons-text-color: #c4c4c4;
$lesson-text-color: #202020;
